<div class="container">
    <div class="row no-gutters">
        <div class="col">
            <div>
                <label class="col-form-label">Hello</label>
                <input class="form-control" />
            </div>
            
        </div>
        <div class="col">
            <input class="form-control" />
        </div>
        <div class="col">
            <input class="form-control" />
        </div>

    </div>

    <div class="row">
        <input class="form-control" />
    </div>

    <div class="row">
        <input class="form-control" />
    </div>

    <div class="row">
        <input class="form-control" />
    </div>

    <div class="row">
        <input class="form-control" />
    </div>
</div>
@code {

}
